{% extends "WPTournamentBundle::layout.html.twig" %}

{% block title %}
    Recherche - {{ parent() }}
{% endblock %}

{% block bodyContent %}
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{{ asset('/img/SLIDERCWL2.jpg')}}');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{ asset('/img/SLIDECWL1.jpg')}}');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{ asset('/img/SLIDECWL3.jpg')}}');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <form method="get">
                <div class="input-group2">
                    <input type="text" class="form-control" name="keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>   
                </div>
                <div class="input-group2">
                    <label for="pro"><input type="radio" value="1" name="pro" id="pro" checked>  Pro</label>
                    <label for="amateur"><input type="radio" value="0" name="pro" id="amateur">  Amateur</label>
                </div>
            </form>
        </div>
        <div class="row">
            {% for event in events %}

                <div class="col-md-6 img-portfolio">
                    <a href="{{ path('wp_tournament_event',{'id':event.id}) }}">
                        <img class="img-responsive img-hover" src="{{ asset (event.cover.webPath) }}" alt="">
                    </a>
                    <h3>
                        <a href="{{ path('wp_tournament_event',{'id':event.id}) }}">{{ event.title }}</a>
                    </h3>
                    <p>{{ event.description }}</p>
                </div>

            {% endfor %}
        </div>
        <!-- /.row -->
        {% if nbPages > 1 %}
            <ul class="pagination">
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('wp_tournament_search',paramRoute|merge({'page':p})) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}